[Unit]
Description=Iot Link Server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/iot
ExecStart=/usr/local/iot/iot-link
Restart=on-failure

[Install]
WantedBy=multi-user.target